<div class="container">
  <app-cockpit 
  (srvCreated) = "onServerAdded($event)"
  (bpCreated)= "onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()"  type="">Change First Element</button>
       <button class="btn btn-danger" (click)="onDestroyFirst()"  type="">Destroy First Element</button>
   <app-server-element *ngFor="let serverElement of serverElements" [srvElement] = "serverElement"
                                                                    [name]="serverElement.name">
     <!--this code is projected into the 'server-element' component, 
     by default all the code inside the tag will disapear but in this case we have 
     'ng-content' tag inside 'server-element' component html
     and thus this code is seen there--> 
     <p #contentParagraph>
            <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
            <em *ngIf="serverElement.type === 'blueprint'" >{{ serverElement.content }}</em>
          </p>
   </app-server-element>
    </div>
  </div>
</div>
