<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink = "/" class="navbar-brand"> Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse"><!--navbar-default for non collapcing navigation-->
            <ul class="nav navbar-nav">
                <li routerLinkActive = "active">
                    <!-- <a href="#" (click)="this.viewChanged.emit(false)">Recipes</a> -->
                     <a  routerLink = "/recipes">Recipes</a>
                </li>
                <li routerLinkActive = "active">
                    <!-- <a href="#" (click)="this.viewChanged.emit(true)">Shopping List</a> -->
                    <a  routerLink = "/shopping-list">Shopping List</a>
                </li>               
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <ng-template [ngIf]='!this.authService.isAouthenticated()' >

                    <li><a routerLink = "/signup">Register</a></li>
                    <li><a routerLink = "/signin">Signin</a></li>
                </ng-template>
                <li><a style="cursor: pointer" (click)= "onSignout()" *ngIf='this.authService.isAouthenticated()'>Sign Out</a></li>
                <li appDropdown class="dropdown" *ngIf="this.authService.isAouthenticated()" >
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;" type="button" (click)="onSave()">Save Data</a></li>                        
                        <li><a style="cursor: pointer;" type="button" (click)="onFetch()">Fetch Data</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>