<div class="container">

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!--<h1>Assignment 1: Practicing Components</h1>
            <hr>
            <success-alert></success-alert>
            <app-warning-alert></app-warning-alert>
            <br><br>-->
            
            <!--<h1>Assignment 2: Practicing Databinding</h1>
            <hr>
            <app-username></app-username>
            <br><br>-->

           <h1>Assignment 3: Display Details</h1>
            <hr>
            <app-display-details></app-display-details>
            <br><br>

            <!--<app-servers></app-servers>-->
        </div>

    </div>

</div>
