<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)]='filteredStatus'>
      <hr>
      <!-- the filter does not update (trigered) when data changes (like when clucking on 'Add Server'), only when the filter chamges (changing 'filteredStatus')) -->
      <button class="btn btn-primary" type="button" (click)= "onAddServer()">Add Server</button>
      <br>
      <h2>App Status:  {{appStatus | async}}</h2>
      <hr>
      <ul class="list-group">
        <li  class="list-group-item"  *ngFor="let server of servers  | sort:'name' | filter: filteredStatus : 'status': 'name'  " [ngClass]="getStatusClasses(server)">
          <span class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten: 20}}</strong> | 
           {{ server.instanceType | uppercase}} | 
           reverse: {{ server.instanceType| reverse | uppercase}} |
            {{ server.started | date:'fullDate' | uppercase}}<!--order of the pipes is importent -->
        </li>
      </ul>
    </div>
  </div>
</div>
